<div class="container-big-card">
    <div class="big-card-photo">
        <img 
        src="https://www.researchgate.net/publication/351828454/figure/fig2/AS:1028083435974661@1622125600877/Color-online-Angular-coverage-of-the-detector-array-h-and-are-the-angles-used-in-the.png" 
        
        alt="" 
        height="200px"
        srcset="">
    </div>
    <div class="big-card-title">
        <h1><a href="#">Saiba 10 Curiosidades sobre o Autor</a></h1>
    </div>
    <div class="big-card-description">
        <a><p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur luctus odio vitae eros blandit mattis. Nullam scelerisque vestibulum felis sit amet suscipit. Aenean rhoncus nisi eu leo pharetra lobortis. Nulla quis risus vitae nulla rhoncus scelerisque at eget eros. 
        </p></a>
    </div>
</div>