<div class="container-small-card">
    <div class="container-small-card-content">
        <div class="small-card-photo">
            <img 
            src="https://www.researchgate.net/publication/351828454/figure/fig2/AS:1028083435974661@1622125600877/Color-online-Angular-coverage-of-the-detector-array-h-and-are-the-angles-used-in-the.png" 
            alt="" 
            height="200px"
            srcset="">
        </div>
        <div class="small-card-title">
            <h1><a href="#">Saiba 10 Curiosidades sobre o Autor</a></h1>
        </div>
    </div>

    
    <div class="container-small-card-separator">
        <hr>
    </div>
</div>
